@model IEnumerable<EventClient.Models.TaskModels>
@{
    Layout = null;
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Objet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLimite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventFK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFK)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Objet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLimite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFK)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
            </td>
        </tr>
    }

</table>
